<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.swwx.paymax.demo">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <!-- 拉卡拉 -->
    <uses-permission android:name="android.permission.RECEIVE_USER_PRESENT" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />


    <application
        android:name="com.swwx.paymax.demo.DemoApplication"
        android:allowBackup="true"
        android:icon="@mipmap/paymax"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="com.swwx.paymax.demo.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.swwx.paymax.PaymentActivity"
            android:launchMode="singleTop"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />

        <activity-alias
            android:name=".wxapi.WXPayEntryActivity"
            android:exported="true"
            android:targetActivity="com.swwx.paymax.PaymentActivity" />

        <!-- alipay sdk begin -->
        <activity
            android:name="com.alipay.sdk.app.H5PayActivity"
            android:configChanges="orientation|keyboardHidden|navigation|screenSize"
            android:exported="false"
            android:screenOrientation="behind"
            android:windowSoftInputMode="adjustResize|stateHidden" >
        </activity>

        <!-- alipay sdk end -->

        <!-- 以下为商户APP对接SDK时需要注册的页面 -->
        <activity
            android:name="com.lkl.pay.ui.activity.SDK_StartJarActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent"  />
        <activity
            android:name="com.lkl.pay.ui.activity.SDK_LoginActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.lkl.pay.ui.activity.SDK_MsgLoginActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.lkl.pay.ui.activity.cardPay.BindCreditCardActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.lkl.pay.ui.activity.cardPay.BindDebitCardActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.lkl.pay.ui.activity.cardPay.HtmlProtocolActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.lkl.pay.ui.activity.cardPay.InputCardNoActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.lkl.pay.ui.activity.cardPay.InputMessageCodeActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.lkl.pay.ui.activity.forget.FindLoginPwdActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.lkl.pay.ui.activity.forget.SetLoginPwdActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.lkl.pay.ui.activity.register.SetPayPwdActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.lkl.pay.ui.activity.payResult.SuccessActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.lkl.pay.ui.activity.payResult.FailureActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="cn.cloudcore.iprotect.plugin.CKbdActivity"
            android:launchMode="singleTask"
            android:configChanges="orientation"
            android:theme="@android:style/Theme.Translucent"
            />
        <!-- 拉卡拉 -->
    </application>

</manifest>